html, body, .wrapper {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.wrapper {
    position: relative;
}

h1, h3, h4 {
    margin: 0;
}

#logo {
    height: 230px;
}

.disp-header {
    /*position: relative;*/
    vertical-align: central;
    width: 100%;
    height: 90vh;
    min-height: 850px;
    margin-bottom: 10px;
}

.disp-header p {
    margin: 2px 0;
    padding: 2px 0;
}

.disp-header a {
    margin-top: 5px;
}

.disp-details {
    padding-top: 30px;
}

.disp-details-bullet {
    padding: 30px 0;
    background-color: rgba(225, 253, 255, 0.64);
}

.disp-details-bullet p {
    padding: 10px;
}

.disp-details-bullet i {
    font-size: 30px;
}


.disp-examples {
    margin-top: 20px;
}

.example-template {
    display: inline-flex;
    padding: 10px;
}

.example-template img {
    height: 250px;
}

@media only screen and (max-width: 768px) {
    .disp-details {
        padding-bottom: 20px;
    }
    .disp-header {
        min-height: 780px;

    }
}

@media only screen and (max-width: 480px) {
    .disp-header {
        min-height: 875px;
    }

    img {
        max-width: 90vw;
    }
}
